.alert
{
	display       : block;
	position      : relative;
	padding       : 15px 15px 15px 45px;
	margin-bottom : 20px;
	font-weight   : 500;
	font-size     : 13px;
	color         : @_color_white;
	text-align    : left;

	&:before
	{	
		.transform(translateY(-50%));

		content     : '';
		font-family : 'icomoon';
		font-size   : 13px;
		position    : absolute;
		top         : 50%;
		left        : 15px;
	}

	&--negative
	{
		background : @_color_negative;
		border     : 1px solid darken(@_color_negative, 3);

		&:before { content : '\e902'; }
	}

	&--warning
	{
		background : @_color_warning;
		border     : 1px solid darken(@_color_warning, 3);

		&:before { content : '\e904'; }
	}

	&--positive
	{
		background : @_color_positive;
		border     : 1px solid darken(@_color_positive, 3);

		&:before { content : '\e903'; }
	}	
}