*, *:before, *:after
{
	.box-sizing(border-box);
}

html
{

}

body
{
	font-family : @_font_family;
	font-weight : 300;
	line-height : 1.4;
	font-size   : 14px;	
}

.application__container, .view-container
{
	min-height : 100vh;
}