.button
{	
	.transition(all 0.15s linear);

	display     : inline-block;
	background  : @_color_white;
	border      : 1px solid @_color_border;
	padding     : 6px 12px;
	font-size   : @_font_size - 1;
	font-family : @_font_family;
	color       : #3a3a3a;
	font-weight : 300;
	text-decoration: none;

	&:focus
	{
		outline : none;
	}

	&:hover
	{
		cursor       : pointer;
		background   : darken(@_color_white, 5);
		border-color : darken(@_color_white, 7);		
	}

	&--primary
	{
		background : @_color_primary;
		color      : @_color_white;
		border     : 1px solid darken(@_color_primary, 1);

		&:hover
		{
			background   : darken(@_color_primary, 5);
			border-color : darken(@_color_primary, 7);
		}
	}

	&--negative
	{
		background : @_color_negative;
		color      : @_color_white;
		border     : 1px solid darken(@_color_negative, 1);

		&:hover
		{
			background   : darken(@_color_negative, 5);
			border-color : darken(@_color_negative, 7);
		}
	}	

	&--stretch
	{	
		text-align : center;
		display    : block;
		width      : 100%;
	}

	&--large
	{
		height      : 45px;
		padding     : 0 12px;
		font-size   : @_font_size + 2;
	}

	&--small
	{
		padding   : 5px 8px;
		font-size : @_font_size - 2;
	}
}