@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?se63rk');
    src:    url('../fonts/icomoon.eot?se63rk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?se63rk') format('truetype'),
        url('../fonts/icomoon.woff?se63rk') format('woff'),
        url('../fonts/icomoon.svg?se63rk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}