.form__group
{
	margin-bottom : 15px;
}

.form__label
{
	margin-bottom : 5px;
	display       : inline-block;
	font-size     : 13px;
}

.form__control
{
	display   : block;
	width     : 100%;
	max-width : 600px;
	height    : 34px;
	padding   : 6px 12px;
	font-size : 12px;
}