.view__container
{	
	width : 100%;

	.sidebar__navigation
	{
		width       : 260px;
		position    : absolute;
		left        : 0;
		top         : 0;
		padding-top : 60px;
		height      : 100vh;
		overflow-y  : scroll;
		background  : @_color_blue;
	}

	.sidebar__form
	{
		padding : 10px 20px;
	}

	.sidebar__form__control
	{	
		.transition(all 0.15s linear);
		
		width         : 100%;
		margin-bottom : 5px;
		height        : 30px;
		background    : @_color_darker_blue;
		border        : @_color_dark_border;
		padding       : 0 8px;
		color         : #e1e1e1;

		&:focus
		{	
			//border     : 1px solid @_color_primary;
			box-shadow : 0 0 5px @_color_primary;
			outline    : none;
		}		
	}

	.sidebar__header
	{
		width      : 260px;
		position   : fixed;
		z-index    : 20;
		left       : 0;
		top        : 0;
		height     : 60px;
		background : @_color_blue;
	}

	.sidebar__logo
	{
		line-height     : 60px;
		padding         : 0 20px;
		font-size       : 18px;
		font-weight     : 300;
		color           : @_color_white;
		text-decoration : none;

		strong
		{
			color       : @_color_primary;
			font-weight : 500;
			font-size   : 30px;
		}
	}
	
	@_color_sidebar_title : rgba(255, 255, 255, 0.5);

	.sidebar__navigation__title
	{
		font-size      : 11px;
		text-transform : uppercase;
		padding        : 10px 20px;
		margin         : 0;
		letter-spacing : 2px;
		color          : @_color_sidebar_title;
		border-top     : 1px solid @_color_dark_border;
		border-bottom  : 1px solid @_color_dark_border;

		&--no-border-top
		{
			border-top : 0;
		}
	}

	.sidebar__navigation__list
	{
		li
		{

		}

		div
		{
			color   : @_color_white;
			padding : 10px 20px;
			font-size : 13px;
		}

		.badge
		{	
			border-radius : 3px;
			background-color : @_color_primary;
			padding          : 2px 4px;
			margin-left      : 8px;
			font-size        : 12px;
		}

		.action
		{
			border-radius : 3px;
			background-color : @_color_negative;
			padding          : 2px 4px;
			margin-left      : 8px;
			font-size        : 12px;
		}
	}

	.main__content
	{	
		width            : calc(~'100% - 260px');
		float            : right;
		height           : 100vh;
		overflow-y       : scroll;
		background-color : @_color_light_grey;
		padding          : 80px 20px 20px 20px;
	}

	.main__content__header
	{
		.box-shadow(~'1px 0px 0px rgba(200,200,200,0.2)');

		position : fixed;
		z-index  : 10;
		top      : 0;
		left     : 260px;
		height   : 60px;
		background : @_color_white;
		width      : calc(~'100% - 260px');
		border-bottom : 1px solid #eeeeee;
		padding       : 0 20px;
		line-height   : 60px;
	}

	.panel
	{
		.box-shadow(~'1px 0px 0px rgba(200,200,200,0.2)');

		background : @_color_white;
		margin-bottom : 20px;
	}
	
	.row
	{
		margin-left : -15px;
		margin-right : -15px;
	}
	.column-6
	{
		float : left;
		width : 50%;
		padding : 0px 15px;
	}

	.panel__header
	{
		border-bottom  : 1px solid #f3f3f3;
		padding        : 15px;
		text-transform : uppercase;
		color          : @_font_color;
		font-size      : 13px;
		letter-spacing : 1px;		
	}

	.panel__body
	{
		padding : 15px;
	}

	.panel__footer
	{
		border-top  : 1px solid #f3f3f3;
		padding     : 15px;

		textarea
		{
			height : auto;
			border-color : @_color_border;
			margin-bottom : 20px;
		}
	}

	.message-container__outer
	{
		height : 250px;
		overflow : scroll;
		position : relative;
	}

	.message-container__inner
	{
		
	}

	.header-navigation
	{
		.user-role-links
		{
			float : left;
		}

		.user-links__toggle
		{
			position : relative;
			float    : right;

			&:hover
			{	
				.user-links__username
				{
					background-color : @_color_light_grey;
				}
				.user-links__list
				{
					display : block;
				}
			}
		}

		.user-links__username
		{	
			position    : relative;
			line-height : 60px;
			display     : block;
			padding     : 0 35px 0 20px;
			color       : #8b8b8b;
			font-size   : @_font_size;

			&:after
			{	
				.transform(translateY(-50%));

				content : '\e907';
				font-family: 'icomoon';
				position : absolute;
				top : 50%;
				right : 10px;
				font-size : 18px;
			}

			&:hover
			{
				cursor : pointer;
			}
		}

		.user-links__list
		{	
			.box-shadow(~'1px 1px 1px rgba(175,175,175,0.2)');

			display    : none;
			position   : absolute;
			top        : 100%;
			right      : 0;
			background : @_color_white;
			border-top : 1px solid @_color_primary;
			min-width  : 175px;

			a
			{
				display : block;
				font-size : 13px;
				line-height : 45px;
				padding : 0 15px;
				color : #8b8b8b;
				text-decoration : none;

				&:hover
				{
					cursor : pointer;
					background : @_color_light_grey;
				}
			}
		}

		.user-role-links
		{	
			a
			{	
				display : block;
				height : 100%;
				color : #8b8b8b;
				font-size : 13px;
				text-decoration : none;
				padding : 0 20px;

				&:hover
				{
					background : @_color_light_grey;
				}
			}

			li
			{
				float : left;
			}
		}
	}
}