.login__container
{
	background : @_color_blue;
}

.login__form__container
{	
	.transform(translate(-50%, -50%));

	position   : absolute;
	top        : 50%;
	left       : 50%;
	padding    : 40px;
	background : @_color_darker_blue;
	max-width  : 500px;
	width      : 100%;
	border     : 2px solid darken(@_color_darker_blue, 1);
	text-align : center;

	h3
	{
		font-size      : 28px;
		font-weight    : 100;
		text-align     : center;
		margin-bottom  : 40px;
		color          : #e1e1e1;
		letter-spacing : 1px;

		strong
		{
			font-weight : 500;
		}
	}
}

.login__form
{
	margin-bottom : 40px;

	.login__form__control
	{	
		background    : @_color_blue;
		margin-bottom : 20px;
		position      : relative;

		input[type="text"], input[type="password"], input[type="email"]
		{	
			.transition(all 0.15s linear);

			background    : @_color_blue;
			border        : none;
			width         : 100%;
			height        : 45px;
			padding       : 0 15px 0 45px;
			line-height   : 45px;
			font-size     : @_font_size;
			color         : #e1e1e1;

			&:focus
			{	
				//border     : 1px solid @_color_primary;
				box-shadow : 0 0 5px @_color_primary;
				outline    : none;
			}
		}
	}

	.login__form__control__icon
	{		
		.transform(translateY(-50%));

		position : absolute;
		left     : 15px;
		top      : 50%;

		&:before
		{
			content     : '';
			font-family : 'icomoon';
			font-size   : 12px;
			color       : @_color_primary;
		}

		&--username:before { content : '\e900'; }
		&--password:before { content : '\e901'; }
		&--email:before    { content : '\e905'; }
	}
}

.login__form__link
{	
	.transition(color 0.15s linear);

	color           : #e1e1e1;
	font-size       : 12px;
	text-decoration : none;

	strong 
	{
		font-weight : 500;
	}

	&:hover
	{
		color : @_color_primary;
	}
}