table
{
	border-collapse : collapse;
	width           : 100%;

	td, th
	{
		padding : 8px;
		border-bottom : 1px solid @_color_border;
	}

	th
	{
		font-weight : 700;
		text-align : left;
	}

	tbody tr:hover
	{
		background : @_color_light_grey;
	}
}