<section class="view__container view__container--sidebar">
	<ng-include src="'/src/js/views/partial-sidebar.html'"></ng-include>
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
	    <feedback-message /></feedback-message>	 			
		<div class="row">
			<div class="column-6">
				<div class="panel">
					<header class="panel__header">
						Edit User Profile
					</header>
					<div class="panel__body">
						<form ng-submit="adminUser.editUser(adminUser.user._id, adminUser.user);" class="form">
							<div class="form__group">
								<label class="form__label" for="email">Email Address</label>
								<input type="email" class="form__control" id="email" ng-model="adminUser.user.email" placeholder="Email" />
							</div>
							<div class="form__group">
								<label class="form__label" for="username">Username</label>
								<input type="text" class="form__control" id="username" ng-model="adminUser.user.username" placeholder="Username" />
							</div>
							<div class="form__group">
								<label class="form__label" for="created">Created</label>
								<input type="text" class="form__control" id="created" ng-model="adminUser.user.created" placeholder="Username" />
							</div>
							<div class="form__group">
								<label class="form__label" for="is-admin">Is Admin?</label>
								<input type="checkbox" id="is-admin" ng-model="adminUser.user.isAdmin" />
							</div>							
							<button class="button button--primary" type="submit">Edit User</button>
						</form>				
					</div>
				</div>			
			</div>
			<div class="column-6">
				<div class="panel">
					<header class="panel__header">
						Edit User Password
					</header>
					<div class="panel__body">
						<form ng-submit="adminUser.updatePassword(adminUser.user._id, adminUser.newPassword);">
							<div class="form__group">
								<label class="form__label" for="password">New Password</label>
								<input type="password" class="form__control" id="password" ng-model="adminUser.newPassword" placeholder="Password" />
							</div>
							<div class="form__group">
								<label class="form__label" for="password-confirm">Confirm New Password</label>
								<input type="password" class="form__control" id="password-confirm" ng-model="adminUser.confirmNewPassword" placeholder="Confirm new password" />
							</div>	
							<button class="button button--primary">Update Password</button>
						</form>				
					</div>
				</div>				
			</div>			
		</div>
	</div>
</section>