<section class="view__container view__container--sidebar">
	<ng-include src="'/src/js/views/partial-sidebar.html'"></ng-include>
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
	    <feedback-message /></feedback-message>		
		<div class="panel">
			<header class="panel__header">
				Registered Users
			</header>
			<div class="panel__body">
				<table class="table">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Is Admin?</th>
							<th>Joined</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in adminUsers.users">
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td>{{user.isAdmin}}</td>
							<td>{{user.created}}</td>
							<td><a class="button button--default" href="/#/admin/users/{{user._id}}">View/Edit</a></td>
							<td><button class="button button--negative" ng-click="adminUsers.deleteUser($index, user._id)">Delete</button></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>	
	</div>
</section>