<section class="view__container view__container--sidebar">
	<ng-include src="'/src/js/views/partial-sidebar.html'"></ng-include>
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<feedback-message /></feedback-message>
		<chat-pane></chat-pane>		
	</div>
</section>