<div>
    <div 
    	ng-if="vm.message && vm.message.text != null" 
    	class="alert alert--{{vm.message.state}}" 
    	role="alert"
    >
        {{vm.message.text}} - <span ng-click="vm.closeMessage();">(X)</span>
    </div> 		
</div>
