<div>
	<h3 class="sidebar__navigation__title">
		Current Rooms
	</h3>	
	<ul class="sidebar__navigation__list">
		<li ng-repeat="room in vm.chat.rooms" class="list-group-item" ng-if="(!room.isPrivate) || (room.isPrivate && room.allowedAccessIDs.indexOf(vm.currentUser.userid) > -1)">
			<div ng-if="vm.chat.currentRoom.roomName == room.roomName">
				{{room.roomName}} - <small><em>({{vm.chat.roomCounts[room.roomName]? vm.chat.roomCounts[room.roomName] : '0' }}/{{room.maxUsers == 0? '-' : room.maxUsers}})</em></small> <span class="badge">Connected</span>
			</div>
			<div ng-if="vm.chat.currentRoom.roomName != room.roomName">
				<a ng-click="vm.switchRoom(room.roomName);">{{room.roomName}} - <small><em>({{vm.chat.roomCounts[room.roomName]? vm.chat.roomCounts[room.roomName] : '0' }}/{{room.maxUsers == 0? '-' : room.maxUsers}})</em></small></a> 
				<a ng-if="room.canDelete && (vm.currentUser.isAdmin || room.creatorID == vm.currentUser.userid)" ng-click="vm.deleteRoom(room.roomName)" class="action">Delete Room</a>
			</div>
		</li>
	</ul>
	<h3 class="sidebar__navigation__title">
		Add New Room
	</h3>
	<div class="sidebar__form">
		<input type="text" class="sidebar__form__control" ng-model="vm.newRoomName" placeholder="Name of room..." />
		<input type="number" class="sidebar__form__control" ng-model="vm.newRoomMaxUsers" placeholder="Max users..." />
		<button ng-click="vm.addRoom(vm.newRoomName, vm.newRoomMaxUsers)" class="button button--primary button--small button--stretch" type="button">Add Room</button>		
	</div>
</div>