<div>
	<h3 class="sidebar__navigation__title">
		Users in 
		<strong>{{vm.chat.currentRoom.roomName}}</strong> - 
		<small><em>({{vm.chat.activeUsers.length}})</em></small> 
		<!-- <span ng-if="vm.currentRoom.isPrivate" class="badge">Private</span> -->
	</h3>
	<ul class="sidebar__navigation__list">
		<li ng-repeat="user in vm.chat.activeUsers" class="sidebar__navigation__list__item">
			<div ng-if="vm.currentUser.userid == user.userid">
				{{user.username}} <span class="badge">Me</span>
			</div>
			<div ng-if="vm.currentUser.userid != user.userid">
				{{user.username}}
				<a ng-if="!vm.chat.currentRoom.isPrivate" ng-click="vm.requestPrivateChat(user.userid)" class="action">
					Request Private Chat
				</a>
			</div>						
		</li>
	</ul>
</div>				