<div class="panel">
	<header class="panel__header">
		Chat Room
	</header>
	<div class="panel__body">
		<div class="message-container__outer">
			<div class="message-container__inner">
				<ul>
					<li ng-repeat="messageObj in vm.messages">
						<strong>{{messageObj.name}}</strong>: {{messageObj.message}} - <em><small>{{messageObj.time | date: 'HH:mm:ss'}}</small></em>
					</li>
				</ul>
			</div>
		</div>		
	</div>
	<footer class="panel__footer">
		<div class="message-form__container">
			<form class="message-form" ng-submit="vm.sendMessage(vm.newMessage)">
				<textarea ng-model="vm.newMessage" class="form__control" rows="5" placeholder="Enter your message..."></textarea>
				<button type="submit" class="button button--primary">Send Message</button>
			</form>
		</div>		
	</footer>	
</div>