<section class="view-container login__container" ng-class="{loading: login.loading}">
    <div class="login__form__container">
        <h3><strong>Login</strong> to your account</h3>
        <feedback-message /></feedback-message>          
        <form class="login__form" role="form">
            <div class="login__form__control">
                <span class="login__form__control__icon login__form__control__icon--username"></span>
                <input type="text" placeholder="Username" ng-model="login.email">
            </div>
            <div class="login__form__control">
                <span class="login__form__control__icon login__form__control__icon--password"></span>
                <input type="password" class="login__form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
            </div>            
            <button type="submit" class="button button--primary button--stretch button--large login__form__submit" ng-click="login.logIn(login.email, login.password)">Login</button>
        </form>
        <a href="/#/register" class="login__form__link">No account? <strong>Register here</strong></a>
    </div>
</section>