<aside class="sidebar__navigation">
	<header class="sidebar__header">
		<a class="sidebar__logo" href="/#/"><strong>MEAN</strong> Chat</a>
	</header>
	<user-list></user-list>
	<room-list></room-list>	
</aside>