<nav class="header-navigation">
	<ul class="user-role-links">
		<li><a href="/#/">Chat</a></li>		
		<li ng-if="application.isLoggedIn && application.currentUser.isAdmin"><a href="/#/admin/users">Users</a></li>
	</ul>		
	<div class="user-links__toggle" ng-if="application.isLoggedIn">
		<span class="user-links__username">{{application.currentUser.username}}</span>
		<ul class="user-links__list">
			<li><a href="/#/profile">My Profile</a></li>
			<li><a ng-click="application.logOut();">Logout?</a></li>
		</ul>
	</p>					
</nav>