<section class="view__container view__container--sidebar">
	<ng-include src="'/src/js/views/partial-sidebar.html'"></ng-include>
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
	    <feedback-message /></feedback-message>				
		<div class="panel">
			<header class="panel__header">
				Edit Profile
			</header>
			<div class="panel__body">
				<form ng-submit="profile.updateProfile(profile.data);">
					<div class="form__group">
						<label class="form__label" for="email">Email Address</label>
						<input type="email" class="form__control" id="email" ng-model="profile.data.email" placeholder="Email" />
					</div>
					<div class="form__group">
						<label class="form__label" for="username">Username</label>
						<input type="text" class="form__control" id="username" ng-model="profile.data.username" placeholder="Username" />
					</div>			
					<button class="button button--primary" type="submit">Update Profile</button>
				</form>					
			</div>
		</div>
	</div>
</section>