<section class="view-container login__container">
    <div class="login__form__container">
        <h3><strong>Register</strong> an account</h3>
        <feedback-message></feedback-message>              
        <form class="login__form" role="form">
            <div class="login__form__control">
                <span class="login__form__control__icon login__form__control__icon--username"></span>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="register.username">
            </div>
            <div class="login__form__control">
                <span class="login__form__control__icon login__form__control__icon--email"></span>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" ng-model="register.email">
            </div>            
            <div class="login__form__control">
                <span class="login__form__control__icon login__form__control__icon--password"></span>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="register.password">
            </div>            
            <button type="submit" class="button button--primary button--stretch button--large login__form__submit" ng-click="register.register(register.username,register.email,register.password)">Register</button>
        </form>
        <a href="/#/login" class="login__form__link">Already have an account? <strong>Login here</strong></a>
    </div>
</section>